{% import "tools.j2" as tools %}

{% for frame in frames %}
  {% if frame.typeId == 'act' %}

Act [{{ frame.label }}] Actor [{{ frame.actorId }}] Recipient [{{ frame.recipientId }}]
{% if frame.precondition %}
Holds when (
{% if frame.objectId %}[{{ frame.objectId }}] && {% endif %}{{ tools.render_condition(frame.precondition, frames) }}
)
{% endif %}

{% set creates = [] %}
{% for c in frame.creates or [] %}
  {% for f in frames %}
    {% if f.label == c and 'duty' not in (f.subTypeIds or []) %}
      {% set _ = creates.append(c) %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% if creates %}Creates [{{ creates | join('], [') }}]{% endif %}

{% set terminates = [] %}
{% for t in frame.terminates or [] %}
  {% for f in frames %}
    {% if f.label == t and 'duty' not in (f.subTypeIds or []) %}
      {% set _ = terminates.append(t) %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% if terminates %}Terminates [{{ terminates | join('], [') }}]{% endif %}
.
  {% endif %}
{% endfor %}
